<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Font Styles -->
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
    <!-- CSS Styles -->
    <link rel="stylesheet" href="not-found.css">
    <!-- Title -->
    <title>404 not found</title>  
</head>
<body>
    <header class="header">
        <img class="header__img" src="../assets/logo-platzi-video-BW2.png" alt="Platzi Video">
    </header>
    
    <section class="not-found">
        <div class="not-found__box">
            <p class="not-found__box--error-code pulse">404</p>
        </div>
        <p>page not found</p>
    </section>

    <footer class="footer">
        <a href="">Terms of Service</a>
        <a href="">Privacy Policy</a>
        <a href="">Help Center</a>
    </footer>
</body>
</html>